body {
  margin: 0;
  padding: 0;
}

.page-title {
  font-size: 50px;
}

.page-goal {
  font-size: 40px;
}

.page-data {
  color: red;
  padding: 20px;
  font-size: 20px;
}

section {
  display: flex;
}

figure {
  display: block;
  text-align: center;
  font-size: 20px;
}
  
a {
  color: #424242;
  text-decoration: none;
}

a:hover {
  color: #3D5AFE;
}
  
.site-body {
  display: flex;
  flex-flow: row wrap;
}
  
.site-main {
  background: white;
  flex: 1 100%;
}
  
.site-aside {
  background: #ECEFF1;
  flex: 1 100%;
}
.brand {
  padding: 1rem 2rem;
  display: block;
  font-size: 20px;
  border-bottom: 1px solid #CFD8DC;
}
  
.site-footer {
  padding: 1rem 2rem;
  flex: 1 100%;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #ECEFF1;
}
  
 article > header {
  background: #1A237E;
  padding: 3rem 0;
  color: white;
}
  
.container {
  width: 88%;
  margin: 0 auto;
}
  
section {
  padding: 1.7rem 0;
  border-bottom: 1px solid #ECEFF1;
}

  
ul {
  display: block;
  margin: 0;
}

li {
  display: block;
  position: relative;
}

a {
  padding: 0.7rem 2rem;
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #424242;
}

  
  @media all and (min-width: 769px) {
    .site-aside {
      order: 1;
      max-width: 300px;
      box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.1);
    }
  
    .site-main {
      order: 2;
      flex: 1 0px;
    }
  
    .site-footer {
      order: 4;
    }
  
    .container {
      width: 85%;
    }
  
    section {
      padding: 3rem 0;
    }
  
    article > header {
      padding: 6rem 0;
    }
  }
  @media all and (min-width: 1440px) {
    .container {
      width: 80%;
      margin: 0 auto;
    }

    section {
      padding: 5rem 0;
    }
  
    article > header {
      padding: 8rem 0;
    }
  }
 
.sasha {
  float: right;
  display: block;
}

img {
  width: 300px;
  height: 300px;
}

