/* Стили часов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dbe4e6;
}

.clock {
    width: 520px;
    padding: 40px;
    background-color: #f3f3f3;
    box-shadow: 10px 10px 50px #808080;
    border-radius: 8px;
}

/* Стили для диспеля */
.clock .display{
    padding: 40px 10px 10px;
    border-radius: 6px;
    background-color: #dddddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset,
                0 1px 1px #fafafa;
    position: relative;
    margin-top: 10px;
}

/* Отображение дней недели */

.weekdays{
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
    font-family: 'Text Me One', sans-serif;
}

.weekdays span{
    padding: 0 10px;
    opacity: 0.2;
}

.weekdays span.active{
    opacity: 1;
}

/* Отображение времени и его анимация  */

.display .timeDisplay{
    display: flex;
    justify-content: center;
}

.timeDisplay .time{
    font-size: 80px;
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    font-family: 'Digital-7 Mono', sans-serif;
}

.timeDisplay .format{
    font-size: 30px;
    margin-top: 32px;
    margin-left: 10px;
    font-family: 'Text Me One', sans-serif;
}

.time .dot{
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    25%{opacity: 0;}
}


/* Стили кнопки для переключения светлой/темной темы */
.toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    width: 120px;
    height: 60px;
    border-radius: 50px;
    transition: .2s;
}

.toggle i {
    width: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}

.toggle .ball {
    position: absolute;
    width: 45px;
    height: 45px;
    margin: 7.5px;
    border-radius: 50%;
    transition: .3s ease-out;
}

input {
    display: none;
}

/* Светлая тема */

.light {
    background: #fafafa;
}

.light .toggle .bxs-sun {
    color: #fafafa;
}

.light .toggle .bx-moon {
    color: #151d2a;
}

.light .toggle .ball {
    background: #151d2a;
}

/* Темная тема */

.dark {
    background: #151d2a;
}


.dark .toggle .bx-sun {
    color: #fafafa;
}

.dark .toggle .bxs-moon {
    color: #151d2a;
}

.dark .toggle .ball {
    background: #fafafa;
    transform: translateX(60px);
}

/* Переключатель в 24 формат */

svg {
    cursor: pointer;
}

/* Создание всплывающего меню */

.dot-menu {
    margin-top: -35px;
    margin-left: 30px;
    width: 200px;
    z-index: 999;
    list-style: none;
    background: #dddddd;
    padding: 10px 20px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}

.dot-menu.active {
    visibility: visible;
    opacity: 1;
}
/* Создание переключателя */

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-format-text{
    color: #efefef; 
    font-size: 0.9em;
    margin-right: 20px;
}

.format-switch-btn {
    width: 35px;
    height: 15px;
    background: #485470;
    border-radius: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Цвета для переключателя  */

.format-switch-btn:before {
    content: ' ';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #ff5e9a;
    border-radius: 50%;
    box-shadow: 0 5px 25px #ff5e9a;
    transform: translateX(-10px);
    transition: 0.3s ease;

}

.format-switch-btn.active:before {
    background: #0fbb8d;
    box-shadow: 0px 5px 25px #0fbb8d;
    transform: translateX(10px);
}